<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order history</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <header> 
        <div id="title">
          <h1><i class="fa fa-cutlery"></i><a href="./index"><span class="highlight"> Fast</span>-Food-<span class="highlight">Fast!</span></a></h1>
        </div>
        <nav class="topNav" id="menuNav">
          <a href="userIndex">Home</a>
          <div class="dropdown">
            <a class="dropbtn"><a href="userMenu" class="current">Menu <i class="fa fa-caret-down"></i></a></a>
            <div class="dropdown-content">
                <a href="userMenu">Meal</a>
                <a href="userMenu#snacks">Snacks</a>
                <a href="userMenu#drinks">Drinks</a>
                <a href="userMenu#combo">Combo</a>
            </div>
          </div>
					<div class="dropdown">
            <a class="dropbtn"><a class="me"></a></a>
            <div class="dropdown-content">
            </div>
          </div>
          <a href="#" id='logout'>Logout</a>
          <a href="javascript:void(0);" class="icon">&#9776;</a>
        </nav>
    </header> 
    <div class="menu" id="history" style="padding-bottom: 10px">
      <br><h1 style="box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);"><i>View Order History</i></h1>
    </div>
    <div class = "last">
      <p id="msg"></p>
      <table id="tableHistory">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody id="histTableBody">
        </tbody>
      </table>
    </div>
  </div>
  <footer>
      <p>Contact us on <i class="fa fa-address-book fa-1x"> </i> +234 8146509343 | bobsarglobal@gmail.com</p>
      <p>Subscribe to our <i class="fa fa-github fa-1x"> </i> <i class="fa fa-facebook fa-1x"> </i> <i class="fa fa-instagram fa-1x"></i></p>
      <p><span class="highlight">Fast</span>-Food-<span class="highlight">Fast!</span>, Copyright &copy; 2018</p>
  </footer>
  <script src="../app/js/username.js"></script>
  <script src="../app/js/history.js"></script>
  <script src="../js/scripts.js"></script>
  <script src="../js/cart.js"></script>
</body>
</html>

