<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodFast | Place Order</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><body>
    <header> 
      <div class="container">
          <div id="title">
				<h1><a href="./index.html"><span class="highlight"> Fast</span>-Food-<span class="highlight">Fast!</span></a></h1>
          </div>
          <nav>
              <ul>
                  <li><a href="./index.html">Home</a></li>
                  <li class="current"><a href="./menu.html">Menu</a></li><!--Page where users can order food-->
                  <li><a href="./login.html">Login</a></li>
                  <li><a href="./signup.html">Signup</a></li>
              </ul>
          </nav>
      </div>
 	</header>
	<!--Image Gallery-->
	<div class="menu">
		<h1><i>What's on the Menu?</i></h1>
		<h3>Please select from our wide tasty variety of meals, snacks and drinks and add your choices to cart.</h3>
	</div>		
	<section class="menu" id="meals">
		<h2>MEALS</h2>

		<div class="responsive">
			<div class="gallery">
          <img src="../imgs/meals/ofada.jpg" alt="ofada_plantain">
          <div class="desc">
            <h1>Ofada Rice & Dodo</h1>
            <p class="price">NGN 600.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
			</div>
		</div>      

		<div class="responsive">
			<div class="gallery">
          <img src="../imgs/meals/chicken.jpg" alt="chicken">
          <div class="desc">
            <h1>Chicken</h1>
            <p class="price">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
		</div> 
		
		<div class="responsive">
			<div class="gallery">
          <img src="../imgs/meals/steak2.jpg" alt="steak">
          <div class="desc">
            <h1>Steak dish</h1>
            <p class="price">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
    	</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/meals/moinmoin.jpg" alt="moin-moin">
          <div class="desc">
            <h1>Moin-moin delicacy</h1>
            <p class="price">NGN 400.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
		</div> 
		
		<div class="clearfix"></div>
	</section>
    <!-- ----SNACKS --------->
  <section class="menu" id="meals">
    <h2>SNACKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/burger.jpg" alt="burger">
          <div class="desc">
            <h1>CheeseBurger</h1>
            <p class="price">NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
    </div>  
     
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/meatpie.jpg" alt="meatpie">
          <div class="desc">
            <h1>Meatpie</h1>
            <p class="price">NGN 350.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/dougnut1.jpg" alt="doughnut">
          <div class="desc">
            <h1>Doughnut</h1>
            <p class="price">NGN 100.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>		
      </div>
		</div> 

    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/piehumus.jpg" alt="pie">
          <div class="desc">
            <h1>Loaf with Humus</h1>
            <p class="price">NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			</div>
		</div> 
                
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/scotchegg1.jpg" alt="scotchegg">
          <div class="desc">
            <h1>Scotch Eggs</h1>
            <p class="price">NGN 150.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/pie3.jpg" alt="mince_pie">
          <div class="desc">
            <h1>Minced Pie</h1>
            <p class="price">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
		</div> 
    <div class="clearfix"></div>

  <!-- ----DRINKS --------->
  <section class="menu" id="drinks">
    <h2>DRINKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/chocolate_mousse1.jpeg" alt="chocolatemousse">
          <div class="desc">
            <h1>Chocolate Mousse</h1>
            <p class="price">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			</div>
		</div> 
      
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/fruitjuice.jpg" alt="juice">
          <div class="desc">
            <h1>FruitJuice | Yoghurt</h1>
            <p class="price">NGN 350.00 | NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/cocktailspecial.jpg" alt="cocktailspecial">
          <div class="desc">
            <h1>Cocktails</h1>
            <p class="price">NGN 1200.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
		</div> 
        
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/softdrink.jpg" alt="softdrinks">
          <div class="desc">
            <h1>Soft drinks</h1>
            <p class="price">NGN 150.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
		</div> 
                 
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/beer.jpg" alt="beer">
          <div class="desc">
            <h1>Beer</h1>
            <p class="price">NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/bacardi.jpg" alt="vodka">
          <div class="desc">
            <h1>Spirit</h1>
            <p class="price">NGN 4000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>			
      </div>
    </div> 

    <div class="clearfix"></div>
  </section>

 <!-- ----COMBO/SPeCIALS --------->
  <section class="menu" id="combo">
  <h2>COMBO/SPECIALS</h2>

    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/delicacy.jpg" alt="paella">
          <div class="desc">
            <h1>Special Rice & Vegetables</h1>
            <p class="price">NGN 1500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/burger-fries-drink.png" alt="burgerfrieschickendrink">
          <div class="desc">
            <h1>Burger, Fries & Drink combo</h1>
            <p class="price">NGN 2000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>
      </div> 
    </div>
    
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/chicken3.jpg" alt="wholechicken">
          <div class="desc">
            <h1>Paella Rice & Roasted Whole Chicken</h1>
            <p class="price">NGN 5000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>      
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/snail.jpg" alt="peppered-snail">
          <div class="desc">
            <h1>Peppered Fried Snail</h1>
            <p class="price">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <button class="cartBtn">Add to Cart</button>
        </div>      
      </div>
    </div> 
  </section> 
</body>
</html>