<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastFoodFast | Place Order</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
  <header> 
      <div id="title">
        <h1><i class="fa fa-cutlery"></i><a href="./index"><span class="highlight"> Fast</span>-Food-<span class="highlight">Fast!</span></a></h1>
      </div>
      <nav class="topNav" id="menuNav">
        <a href="./index">Home</a>
        <div class="dropdown">
          <button class="dropbtn"><a href="#" class="current">Menu <i class="fa fa-caret-down"></i></a></button>
          <div class="dropdown-content">
              <a href="#meal">Meal</a>
              <a href="#snacks">Snacks</a>
              <a href="#drinks">Drinks</a>
              <a href="#combo">Combo</a>
          </div>
        </div>
        <a href="./login">Login</a>
        <a href="./signup">Signup</a>
        <i class="fa fa-shopping-cart fa-1x" id="cartInfo"> Cart</i>
        <a href="javascript:void(0);" class="icon">&#9776;</a>
      </nav>
    </header> 
	<!--Image Gallery-->
	<div class="menu">
		<h1><i>What's on the Menu?</i></h1>
		<h3>Please select from our variety of meals, snacks and drinks and add your choices to cart.</h3>
    <p><i>Click the shopping cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> above to view cart</i></p>
  </div>		
	<section class="menu" id="meals">
		<h2>MEALS</h2>

		<div class="responsive">
			<div class="gallery">
          <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/meals/ofada.jpg" alt="ofada_plantain">
                </div>
                <div class="flip-box-back">
                  <h2>Description:</h2>
                  <p>Rice and ofada stew garnished with dodo and assorted meat.
                    <br> Chef Steve's special!</p>
                </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item01">Rice and Dodo</h1>
            <p class="price" id="price01">NGN 600.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>Select Quantity: 
              <select id="selectQty01">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
              </select>
            </p>
            <button class="cartBtn" id="btn01">Add to Cart</button>
        </div>
			</div>
		</div>      

		<div class="responsive">
			<div class="gallery">
          <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/meals/chicken.jpg" alt="chicken">
                </div>
                <div class="flip-box-back">
                  <h2>Description:</h2>
                  <p>Delicious roasted spicy chicken garnished with curry and herbs.</p>
                </div>
              </div>
          </div>
          <div class="desc">
            <h1 id="item02">Chicken</h1>
            <p class="price" id="price02">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>Select Quantity: 
                <select id="selectQty02">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                  <option id="qty07">7</option>
                  <option id="qty08">8</option>
                  <option id="qty09">9</option>
                </select>
              </p>
            <button class="cartBtn" id="btn02">Add to Cart</button>
        </div>
      </div>
		</div> 
		
		<div class="responsive">
			<div class="gallery">
          <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
          <img src="../imgs/meals/steak2.jpg" alt="steak">
        </div>
        <div class="flip-box-back">
          <h2>Description:</h2>
          <p></p>
        </div>
      </div>
    </div>
          <div class="desc">
            <h1 id="item03">Steak dish</h1>
            <p class="price" id="price03">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty03">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn03">Add to Cart</button>
        </div>
    	</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
          <img src="../imgs/meals/moinmoin.jpg" alt="moin-moin">
        </div>
        <div class="flip-box-back">
          <h2>Description:</h2>
          <p></p>
        </div>
      </div>
    </div>
          <div class="desc">
            <h1 id="item04">Moin-moin deli</h1>
            <p class="price" id="price04">NGN 400.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty04">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn04">Add to Cart</button>
        </div>
      </div>
		</div> 
		
		<div class="clearfix"></div>
	</section>
  <!-- SNACKS -->
  <section class="menu" id="snacks">
    <h2>SNACKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/burger.jpg" alt="burger">
          <div class="desc">
            <h1 id="item05">CheeseBurger</h1>
            <p class="price" id="price05">NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty05">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn05">Add to Cart</button>
        </div>
      </div>
    </div>  
     
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/meatpie.jpg" alt="meatpie">
          <div class="desc">
            <h1 id="item06">Meatpie</h1>
            <p class="price" id="price06">NGN 350.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty06">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn06">Add to Cart</button>
        </div>
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/snacks/dougnut1.jpg" alt="doughnut">
          <div class="desc">
            <h1 id="item07">Doughnut</h1>
            <p class="price" id="price07">NGN 100.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty07">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn07">Add to Cart</button>
        </div>		
      </div>
		</div> 
     
    <div class="responsive">
			<div class="gallery">
        <img src="../imgs/snacks/scotchegg1.jpg" alt="scotchegg">
        <div class="desc">
          <h1 id="item08">Scotch Eggs</h1>
          <p class="price" id="price08">NGN 150.00</p>
          <p><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </p>
          <p>
            Select Quantity: 
              <select id="selectQty08">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
          </p>
          <button class="cartBtn" id="btn08">Add to Cart</button>
        </div>			
      </div>
    </div> 
    
    <div class="clearfix"></div>

    
  <!--DRINKS-->
  <section class="menu" id="drinks">
    <h2>DRINKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/chocolate_mousse1.jpeg" alt="chocolatemousse">
          <div class="desc">
            <h1 id="item09">Choco Mousse</h1>
            <p class="price" id="price09">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty09">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                  
                </select>
            </p>
            <button class="cartBtn" id="btn09">Add to Cart</button>
        </div>
      </div>
		</div> 
      
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/fruitjuice.jpg" alt="juice">
          <div class="desc">
            <h1 id="item10">FruitJuice</h1>
            <p class="price" id="price10">NGN 500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty10">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn10">Add to Cart</button>
        </div>			
      </div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/cocktailspecial.jpg" alt="cocktailspecial">
          <div class="desc">
            <h1 id="item11">Cocktails</h1>
            <p class="price" id="price11">NGN 1200.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty11">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                  <option id="qty07">7</option>
                  <option id="qty08">8</option>
                </select>
            </p>
            <button class="cartBtn" id="btn11">Add to Cart</button>
        </div>			
      </div>
		</div> 
        
    <div class="responsive">
			<div class="gallery">
          <img src="../imgs/drinks/softdrink.jpg" alt="softdrinks">
          <div class="desc">
            <h1 id="item12">Soft drinks</h1>
            <p class="price" id="price12">NGN 150.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty12">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn12">Add to Cart</button>
        </div>			
      </div>
		</div> 

    <div class="clearfix"></div>
  </section>

 <!--COMBO/SPECIALS-->
  <section class="menu" id="combo">
  <h2>COMBO/SPECIALS</h2>

    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/delicacy.jpg" alt="special_rice">
          <div class="desc">
            <h1 id="item15">Special Veggie Rice</h1>
            <p class="price" id="price15">NGN 1500.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty15">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn15">Add to Cart</button>
        </div>
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/burger-fries-drink.png" alt="burgerfrieschickendrink">
          <div class="desc">
            <h1 id="item16">Combo-licious Burger</h1>
            <p class="price" id="price16">NGN 2000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty16">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn16">Add to Cart</button>
        </div>
      </div> 
    </div>
    
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/chicken3.jpg" alt="wholechicken_paella">
          <div class="desc">
            <h1 id="item17">Whole Chicken Paella</h1>
            <p class="price" id="price17">NGN 5000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty17">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn17">Add to Cart</button>
        </div>      
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="../imgs/combo/snail.jpg" alt="peppered-snail">
          <div class="desc">
            <h1 id="item18">Peppered Fried Snail</h1>
            <p class="price" id="price18">NGN 1000.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Select Quantity: 
                <select id="selectQty18">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
            </p>
            <button class="cartBtn" id="btn18">Add to Cart</button>
        </div>      
      </div>
    </div> 
    <div class="clearfix"></div>
  </section> 

<!--ORDER HISTORY-->
<div style="display: none">
  <div class="menu" id="history" style="padding-bottom: 10px">
    <br><h1 style="box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);"><i>View Order History</i></h1>
    <ul id="hist"></ul>
  </div>
  <div>
    <table id="tableHistory">
      <thead>
      <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      </thead>
    </table>
  </div>
  </div>
    <!-- Modal -->
    <div id="modalDiv" class="modal">
      <!-- Modal content -->
      <div class="modalContent">
        <span class="close">&times;</span>
        <h1>SHOPPING CART</h1>
        <p><b>Username: </b>ANONYMOUS</p>
        <p><b>Address: <input type="text" placeholder="Please enter your delivery address" id="userAddr"></b></p>
        <p><b>PhoneNo: <input type="number" placeholder="Please enter your phone number" id="userPhone"></b></p>
        <table id="cartTable">
          <thead>
          <!-- <tr> -->
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
          <!-- </tr> -->
          </thead>
          </table>
        <h3>
          TOTAL PRICE: NGN <span id="totalPrice">0.00</span>
        </h3>
        <button type="submit" id="checkoutBtn">Submit Order</button>
      </div>
    </div>
   <!-- End container div -->
  </div>
    <footer>
        <p>Contact us on <i class="fa fa-address-book fa-1x"> </i> +234 8146509343 | bobsarglobal@gmail.com</p>
        <p>Subscribe to our <i class="fa fa-github fa-1x"> </i> <i class="fa fa-facebook fa-1x"> </i> <i class="fa fa-instagram fa-1x"></i></p>
        <p><span class="highlight">Fast</span>-Food-<span class="highlight">Fast!</span>, Copyright &copy; 2018</p>
    </footer>
  <script src="../js/scripts.js"></script>
  <script src="../js/cart.js"></script>
</body>
</html>