<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
    <header> 
      <div class="container">
          <div id="title">
				<h1><a href="./index.html"><span class="highlight"> Fast</span>-Food-<span class="highlight">Fast!</span></a></h1>
          </div>
          <nav>
              <ul>
                  <li><a href="./index.html">Home</a></li>
                  <li class="current"><a href="./menu.html">Menu</a></li><!--Page where users can order food-->
                  <li><a href="./login.html">Login</a></li>
                  <li><a href="./signup.html">Signup</a></li>
              </ul>
          </nav>
      </div>
 	</header>
	<!--Image Gallery-->
	<div class="menu">
		<h1><i>What's on the Menu?</i></h1>
		<h3>Please select from our wide tasty variety of meals, snacks and drinks and add your choices to cart.</h3>
	</div>		
	<section class="menu" id="meals">
		<h2>MEALS</h2>

		<div class="responsive">
			<div class="gallery">
          <img src="" alt="chicken">
          <div class="desc">Image description</div>
			</div>
		</div>      

		<div class="responsive">
			<div class="gallery">
          <img src="" alt="moin-moin">
          <div class="desc">Image description</div>
			</div>
		</div> 
		
		<div class="responsive">
			<div class="gallery">
          <img src="" alt="ricesteak">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="swallow">
          <div class="desc">Image description</div>
			</div>
		</div> 
		
		<div class="clearfix"></div>
	</section>
    <!-- ----SNACKS --------->
  <section class="menu" id="meals">
    <h2>SNACKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="" alt="burger">
          <div class="desc">Image description</div>
			</div>
    </div>  
     
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="meatpie">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="doughnut">
          <div class="desc">Image description</div>
			</div>
		</div> 

    <div class="responsive">
			<div class="gallery">
          <img src="" alt="pie">
          <div class="desc">Image description</div>
			</div>
		</div> 
                
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="scotchegg">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="cake">
          <div class="desc">Image description</div>
			</div>
		</div> 
    <div class="clearfix"></div>

  <!-- ----DRINKS --------->
  <section class="menu" id="drinks">
    <h2>DRINKS</h2>

    <div class="responsive">
			<div class="gallery">
          <img src="" alt="chocolatemousse">
          <div class="desc">Image description</div>
			</div>
		</div> 
      
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="juice">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="cocktailspecial">
          <div class="desc">Image description</div>
			</div>
		</div> 
        
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="softdrinks">
          <div class="desc">Image description</div>
			</div>
		</div> 
                 
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="beer">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="vodka">
          <div class="desc">Image description</div>
			</div>
    </div> 
    
    <div class="responsive">
			<div class="gallery">
          <img src="" alt="energydrink">
          <div class="desc">Image description</div>
			</div>
		</div> 

    <div class="responsive">
			<div class="gallery">
          <img src="" alt="whiskey">
          <div class="desc">Image description</div>
			</div>
		</div> 

    <div class="clearfix"></div>
  </section>

 <!-- ----COMBO/SPeCIALS --------->
  <section class="menu" id="combo">
  <h2>COMBO/SPECIALS</h2>

    <div class="responsive">
      <div class="gallery">
          <img src="" alt="paella">
          <div class="desc">Image description</div>
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="" alt="burgerfrieschickendrink">
          <div class="desc">Image description</div>
      </div>
    </div> 
    
    <div class="responsive">
      <div class="gallery">
          <img src="" alt="wholechicken">
          <div class="desc">Image description</div>
      </div>
    </div> 
      
    <div class="responsive">
      <div class="gallery">
          <img src="" alt="skewered suya">
          <div class="desc">Image description</div>
      </div>
    </div> 
  </section>
<!-- ----DESSERTS --------->
<section class="menu" id="dessert">
  <h2>DESSERT</h2>

  <div class="responsive">
    <div class="gallery">
        <img src="" alt="icecream">
        <div class="desc">Image description</div>
    </div>
  </div> 
    
  <div class="responsive">
    <div class="gallery">
        <img src="" alt="smoothie">
        <div class="desc">Image description</div>
    </div>
  </div> 
  
  <div class="responsive">
    <div class="gallery">
        <img src="" alt="cake">
        <div class="desc">Image description</div>
    </div>
  </div> 
      
  <div class="responsive">
    <div class="gallery">
        <img src="" alt="cake">
        <div class="desc">Image description</div>
    </div>
  </div> 

</body>
</html>