body{
    height:100%;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    position:relative;
    background-color: white;
    text-align: center;
}

h1{
    text-shadow: 1px 1px 1px goldenrod;
    margin-top: 100px
}
.container{
    width: 90%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

/* header*/
header{
    padding-top: 30px;
}
header#index{
    text-align: center;
    padding-bottom: 60px;
    border: none;
}
header a{
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header #title{
    float: left;
}
header #title h1{
    margin: 0;
}
header #title h1 a{
    font-size: 30px;
    text-transform: none;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .current a{
    color: goldenrod;
    font-weight: bold;
    text-decoration: underline;
}

header a:hover{  /*Changes appearance of menu links when the mouse is moved over the element */
    color: goldenrod;
    font-weight: bold;
}
.highlight{
    color: goldenrod;
}

/******* Slideshow ********/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {
    vertical-align: middle;
    max-height: 500px;    
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .text {font-size: 18px}
}
.fa-1x{
    border: 1px solid goldenrod;
    border-radius: 100%;
    padding: 5px;
    text-decoration: none;
    background-color: none;
}

.fa-4x {
    color: #212121;
    border: 2px solid goldenrod;
    border-radius: 100%;
    padding: 15px;
    margin-bottom :5px;
}
/********* Admin ************/
#admin{
    padding: 50px;
    border: goldenrod groove 5px;
    margin-bottom: 200px;
    overflow: auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#approveBtn:hover, #declineBtn:hover {
    opacity:0.8;
}


/* Footer */
footer{
    position: relative;
    margin-top: 5%;
    bottom: 0;
    width: 100%;
    padding: 5px;
    /* margin-top: -50px; */
    color: #ffffff;
    background-color: #212121;
    text-align: center;
    text-shadow: #353637;
    font-size: 15px
}