body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

h1#openBtn{
    font-size:30px;
    cursor: pointer;
    color: goldenrod;
    background: #212121;
    text-shadow: none;
    padding: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: goldenrod;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.admin{
    padding: 50px;
    border: goldenrod groove 5px;
    margin-bottom: 200px;
    overflow: auto;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.approveBtn:hover, .declineBtn:hover {
    opacity: 1;
}

.orderRow:hover{
    cursor: pointer;
    background: #212121;
    color: goldenrod;
}

div#search{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

div#search i{
    margin-left: 10px;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
    border: none;
    outline: none;
}

#orderSearch {
    width: 95%;
    font-size: 16px;
    padding: 12px 20px 12px 15px;
    border: none;
    outline: none;
}

.editInputPrice{width: 100px;}
.editInputQty{width: 50px;}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
@media screen and (max-width: 500px) {
    h1#openBtn{font-size: 20px;}
    #orderSearch{
        font-size: 12px;
        width: 90%;
    }
}