body, html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color .5s;
    background: whitesmoke;
}

header #title h1 a{
    font-size: 25px;
}

#openBtn{
    font-size: 25px;
    cursor: pointer;
    color: goldenrod;
    background: #212121;
    text-shadow: none;
    padding: 5px;
    margin-top: 5%
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: goldenrod;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.admin{
    padding: 50px;
    border: goldenrod groove 5px;
    margin: 3%;
    overflow: auto;
    background: white;
    float: none;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#yes, #no{
    margin-left: -30px;
    padding: 12px 14px;
    outline: none;
    border: none;
}
#no{
    margin-left: 30px;
}

div#search, div#searchMenu{
    width: 100%;
    margin: 10px 0;
    padding: 1px;
    background: white;
    border: 1px solid #ddd;
}

div#search i,
div#searchMenu i{
    margin-left: 10px;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
    border: none;
    outline: none;
}

#orderSearch, #menuSearchInp {
    width: 95%;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    outline: none;
}

#createMenuModal .modalContent,
#editMenuModal .modalContent{
    width: 85%;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#createMenuModal .modalContent h1{
    font-size: 25px;
}

#allOrders, #allFood{
    display: none;
}

form table td {
    padding: 18px 0;
    text-align: left;
    border-bottom: none;
}
#graphTable{
    table-layout: fixed;
    width: 300px;
    padding: 10px;
    margin: auto;
}
#graphTable td{
    border-bottom: none;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}
#graphTable td select{
    font-size: 12px;
    padding: 4px;
}
#graphTable td button{
    padding: 3px;
}
#graphTable td.label{
    text-align: right;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    width: 10%;
    font-weight: 600;
}
#freq{
    width: 100%
}
#fromDay, #toDay{
    width: 60px
}
#fromMonth, #toMonth, #freq{
    width: 75px
}
td.label{
    font: 25px/1.5 Arial, Helvetica, sans-serif;
    text-align: right;
}

form input, textarea, select {
    width: 70%;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

td.available input{
    width: 20px;
}
input#imgInfo, input#img{
    width: 255px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: white;
    padding-right: 0;
}
input#imgInfo{
    margin-right: 0;
}
input.img{
    padding: 0;
    margin-left: 0;
}

textarea {
    height: 150px;
}

#addBtn, #saveBtn, #resetBtn, #plotBtn{
    width: 45%;
    height: 40px;
    color: white;
    background-color: #2ec371;
    opacity: 0.6;
    margin: 25px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
#plotBtn{
    margin: 10px auto;
    font-size: 15px;
    opacity: 0.5;
    width: 100%;
    border-radius: 5px;
    /* background-color: goldenrod; */
}
#resetBtn{
    background-color: red;
}
#addBtn:hover, #saveBtn:hover, #resetBtn:hover, #plotBtn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.statsCards{
    /* margin-top: 1px; */
    margin-bottom: 30px
}
.statsCard{
    background: white;
    padding: 5px;
    float: left;
    width: 23%;
    /* height: 100px; */
    margin: 1%;
    transition: 0.3s;
    border-radius: 5px;
}

.pie {
    float: left;
    border: goldenrod groove 5px;
    width: 40%;
    margin: 3% 5%;
    overflow: auto;
    padding: 10px;
    background: white
}

#salesGraph{
    /* width: 100%; */
    /* height: 350px; */
    /* position: relative; */
}
#calendarChart{
    /* background-color: #212121; */
    /* width: 100%; */
    /* margin: 3px; */
    /* overflow-x: auto; */
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
@media screen and (max-width: 800px) {
    input#imgInfo, input.img{
        padding-left: 20px;
    }
}
@media screen and (max-width: 750px) {
    #openBtn{font-size: 20px;}
    #orderSearch, #menuSearchInp{
        width: 90%;
        font-size: 14px;
        margin-top: 1px;
    } 
    td.label{
        font: 20px/1.5 Arial, Helvetica, sans-serif;
    }
    #addBtn, #resetBtn{
       width: 35%
    }
}
@media screen and (max-width: 600px) {
    .statsCard{
        width: 48%
    }
    .pie{
        width: 90%;
    }
}
@media screen and (max-width: 540px) {
    #openBtn{font-size: 18px;}
    #orderSearch, #menuSearchInp{
        font-size: 12px;
        padding: 8px 10px;
    }

    form table td {
        padding: 12px 0;
    }
    
    td.label{
        font: 12px/1.5 Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    form input, textarea, select {
        width: 80%;
        font-size: 12px;
        padding: 6px;
        margin-left: 15px;
    }
    input#imgInfo, input.img{
        width: 200px;
        padding-left: 15px;
    }
    #addBtn, #resetBtn{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }
}

