.formTitle{
    margin-top: 100px;
}

#signupForm, #loginForm {
    padding: 100px 0;
    margin: 200px 0 250px;
    position: relative;
}

#loginForm {
    margin: 150px 0;
    margin-bottom: 100px;
}

/* SignUp and Login forms */
form {
    width: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2ec371;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: darkgoldenrod;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.white, .white a{
    font-size: 13px;
    color: white;
    text-shadow: 1.5px 1.5px 2px #000000;
}

input {
    height: 36px;
    width: 250px;
    font-size: 16px;
    margin: 12px 0 10px;
    padding: 10px;
    border: 0;
}
label{
    color:white;
    font: 18px/1.5 Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px 2px #000000;
}

button {
    margin: 15px 0 10px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    padding: 20px 50px;
    background-color: #2ec371;
    opacity: 0.6;
    width: 250px;
}

#checkbox{
    height: 15px;
    width: 15px;
    margin: 0 0 0 -120px;
}

.fa-2x {
    color: #212121;
    border: 2px solid #2ec371;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 10px;;
}

#usernameErr, #emailErr, #passwordErr, #password2Err{
    color: red;
    text-shadow: 1px 1px 1px #000000;
}