* {box-sizing: border-box;}

body, html{
    height:100%;
    font: 15px/1.5 Verdana, sans-serif;
    padding: 0;
    margin:0;
    position:relative;
    background-color: white;
    text-align: center;
}

.container{
    width: 90%;
    min-height: 100vh;
    margin: auto;
}

h1{
    margin-top: 60px;
    text-shadow: 1px 1px 1px goldenrod;
}
/* header*/
header{
    padding-top: 30px;
}
header#index{
    text-align: center;
    padding-bottom: 60px;
    border: none;
}
header a{
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

header #title{
    float: left;
}
header #title h1{
    margin: 0;
}
header #title h1 a{
    font-size: 30px;
    text-transform: none;
    margin-right: 45px
}

header a:hover{  /*Changes appearance of menu links when the mouse is moved over the element */
    color: goldenrod;
    font-weight: bold;
}
.highlight{
    color: goldenrod;
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/******* Slideshow ********/
.mySlides {display: none;}
img {
	vertical-align: middle;
	max-height: 400px;    
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: goldenrod;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.fa-1x{
    border: 1px solid goldenrod;
    border-radius: 100%;
    padding: 5px;
    text-decoration: none;
    background-color: none;
}

.fa-4x {
    color: #212121;
    border: 2px solid goldenrod;
    border-radius: 100%;
    padding: 15px;
    margin-bottom :5px;
}



.success{
    color: green;
}
.last{
    margin-bottom: 150px;
}

/* Footer */
footer{
    margin-top: 5%;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #212121;
    text-align: center;
    /* text-shadow: #353637; */
    font-size: 12px;
}

footer a{
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    h2{
        font-size: 18px;
    }
}
/* On smaller screens, decrease text size */
@media screen and (max-width: 500px) {
  .text {font-size: 18px}
}