body{
    height:100%;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    position:relative;
    background-color: white;
    text-align: center
}

.container{
    width: 90%;
    min-height:100%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* header*/
header{
    padding-top: 30px;
}
header#index{
    min-height: 800px;
    background:url('../imgs/background.png') no-repeat center;
    text-align: center;
    color: #fcfcfc;
    padding-bottom: 60px;
    border: none;
}
header a{
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header #title{
    float: left;
}
header #title h1{
    margin: 0;
}
header #title h1 a{
    font-size: 30px;
    text-transform: none;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .current a{
    color: goldenrod;
    font-weight: bold;
    text-decoration: underline;
}

header a:hover{  /*Changes appearance of menu links when the mouse is moved over the element */
    color: goldenrod;
    font-weight: bold;
}
.highlight{
    color: goldenrod;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;   /* Height of the footer */
    padding: 20px;
    color: #ffffff;
    background-color: #212121;
    text-align: center;
    text-shadow: #353637;
    font-size: 20px
}