
.menu h1{
    padding: 5px;
    text-shadow: 1px 1px 1px goldenrod;
}
.menu h3{
    font: 20px/1.5 Arial, Helvetica, sans-serif;
}
  
.menu h2{
    padding: 10px;
    color: goldenrod;
    text-shadow: 1.5px 1.5px 2px #000000;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

  /*Responsive Image Gallery */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid goldenrod;
}

div.gallery img {
    width: 95%;
    height: 190px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.checked {
    color: orange;
}

.price {
    color: grey;
    font-size: 16px;
  }

.cartBtn{
    border: none;
    outline: 0;
    padding: 12px;
    color: goldenrod;
    background-color: #212121;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.cartBtn:hover{
    cursor: pointer;
    background-color: #2ec371;
    color:white;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 0.2px solid #747474;
}

#submitOdr, #cancelOdr, #approveBtn, #declineBtn{
    background-color : green;
    color : white;
    cursor : pointer;
    border: 1px solid black;
    border-radius: 5px
}

#cancelOdr, #declineBtn{
    background: red;
}

/*****MODAL*****/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  /* Modal Content/Box */
.modalContent {
    position: absolute;
    overflow: auto; /* Enable scroll if needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #888;
    background-color: #fefefe;
}

#cartInfo:hover {
    cursor: pointer;
    color: goldenrod;
}

  
  /* Close (x) Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}
  
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: black;
} 
