.topNav {
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
}

.topNav .search{
  float: right;
  border: 1px solid goldenrod;
  margin: 10px 12px;
  padding: 0;
}
.topNav .search input[type=text] {
  padding: 7px;
  border: none;
  outline: none;
}
.topNav .search button {
  float: right;
  padding: 7px 12px;
  background: #cccccc;
  border: none;
  cursor: pointer;
  font-size: 14px
}
.topNav .search:hover{
  background: none;
}

/* Hide the link that should open and close the topNav on small screens */
.topNav .icon {
  display: none;
  padding: 14px;
  color: goldenrod;
}
.current{
  color: goldenrod;
  font-weight: bold;
  text-decoration: underline;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 3px;
  background-color: inherit;
  font-family: inherit;
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: fixed;
  color: black;
  background-color: #cccccc;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 40px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  background:rgb(0,0,0,0.1);
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 500;
}

.topNav .dropdown-content a:hover {
  background-color: #2c2c2c;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

.welcome{
  margin-top: 50px;
}

/* Sticky navbar
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickyNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #212121;
  color: white;
  float: none;
  z-index: 1;
}

.stickyNav a{
  color: white; 
  padding-left: 18px; 
  text-align: center;
}

.stickyNav .dropdown-content {
  margin-top: 55px
}

.stickyNav a.search input[type=text], 
.stickyNav a.search button{
  height: 31px;
}
.stickyNav a.current{
  color: goldenrod; 
}
.stickyNav #cartInfo{
  float: left;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickyNav + .content {
  padding-top: 60px;
}

/* When the screen is less than 700 pixels wide, only show the link that should open and close the topNav (.icon) */
@media screen and (max-width: 780px) {
  header #title h1 a{
    font-size: 26px;
    margin-right: 5px;
  }
  .menu h1{margin-top: 50px;}
  .topNav{float: none;}
  .topNav a, #cartInfo{
    display: none;
    font-size: 14px;
  }
  .dropdown .dropbtn{
    display: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
    background: #212121;
  }
  .topNav a:hover {background: #212121;}
  .topNav .icon:hover{
    background: #757575;
  }
  /* Adding responsive class to .topNav */
  .responsiveNav {
    position: relative;
    background: #f5f5f5;
    padding-bottom: 10px;
  }

  .responsiveNav a {
    float: none;
    display: block;
    text-align: left;
    font: 14px;
  }
  .responsiveNav #cartInfo{
    float: left;
    display: inline;
    font-size: 16px;
  }
  .responsiveNav .search{
    float: left;
  }

  .responsiveNav a.icon {
    position: absolute;
    padding-left: 12px;
    right: 0;
    top: 0;
  }

  .responsiveNav .dropdown {float: none;}
  .responsiveNav .dropdown-content {
    position: relative;
    margin-top: 0;
  }

  .responsiveNav .dropdown .dropbtn{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px;
  }
  .responsiveNav .dropdown-content a:hover {
    background-color: #f9f9f9;
  }

  .responsiveNav.stickyNav{
    position: fixed;
    background: #212121;
  }

  .responsiveNav.stickyNav a:hover{
    background: #cccccca6
  }
  .welcome{
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px){
  body, html{
    overflow-x: hidden;
    overflow-y: auto;
  }

  header #title h1 a{
    font-size: 32px;
    margin-right: 300px;
  }
  .topNav{
    display: inline-block;
    float:none;
    margin-top: 15px;
  }
  .topNav a{
    padding-right: 50px;
  }
  .stickyNav{
    margin-top: 0;
  }
  .formTitle{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  body, html{
      font: 12px/20px "Helvetica neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
  }
}